<div class="container">
    <div class="signin-wrapper">
        <div class="signin">
            <h2 class="sigin-title">Đăng nhập</h2>
            <form>
                <div class="input-group">
                    <label class="input-label" for="username">Số điện thoại</label>
                    <input type="text" id="username" placeholder="Username">
                </div>
                <div class="input-group">
                    <label class="input-label" for="password">Mật khẩu</label>
                    <input type="password" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn">Đăng nhập</button>
                <div class="options">
                    <div class="custom-checkbox">
                        <input type="checkbox" id="rememberMe" />
                        <label for="rememberMe"><span></span>Remember Me</label>
                    </div>
                    <a href="#" class="forgot-password">Quên mật khẩu</a>
                </div>
            </form>
        </div>
        <div class="signup">
            <h2>Cảm ơn bạn đã ghé thăm!</h2>
            <p>Bạn chưa có tài khoản?</p>
            <a href="#" class="btn">Đăng ký ngay</a>
        </div>
    </div>
</div>