<div class="container">
    <div class="signin-wrapper">
        <div class="signin">
            <h2 class="sigin-title">Đăng ký</h2>
            <form>
                <div class="input-group">
                    <label class="input-label" for="username">Số điện thoại</label>
                    <input type="text" id="username" placeholder="Số điện thoại">
                </div>
                <div class="input-group">
                    <label class="input-label" for="password">Mật khẩu</label>
                    <input type="password" id="password" placeholder="Mật khẩu">
                </div>
                <div class="input-group">
                    <label class="input-label" for="password">Nhập lại mật khẩu</label>
                    <input type="password" id="password" placeholder="Nhập lại mật khẩu">
                </div>
                <button type="submit" class="btn">Đăng ký</button>
                <div class="options">
                    <a href="#" class="forgot-password">Quên mật khẩu</a>
                </div>
            </form>
        </div>
        <div class="signup">
            <h2>Cảm ơn bạn đã ghé thăm!</h2>
            <p>Bạn đã có tài khoản?</p>
            <a href="#" class="btn">Đăng nhập ngay</a>
        </div>
    </div>
</div>