<header class="header-container">
    <div class="header-top">
        <div class="user-menu">
            <span class="user-login">Đăng nhập</span>
            <span class="user-account">Đăng ký</span>
        </div>
    </div>
    <div class="header-mid">
        <div class="logo">
            <img src="\assets\img\logo.png" alt="DAOHAISAN" class="logo-img" />
        </div>
        <div class="search-container">
            <input
                type="text"
                class="search-input"
                placeholder="Tìm kiếm trên DAOHAISAN"
            />
        </div>

        <div class="cart">
            <span class="cart-icon">🛒</span>
            <span class="cart-count">0</span>
        </div>
    </div>
    <div class="header-bottom">
        <div class="navbar">
            <a href="#" class="nav-active">DANH MỤC SẢN PHẨM</a>
            <a href="#">TRANG CHỦ</a>
            <a href="#" class="active">TẤT CẢ SẢN PHẨM</a>
            <a href="#">TRUYỀN HÌNH</a>
            <a href="#">BÁO CHÍ</a>
            <a href="#">PHẢN HỒI KHÁCH HÀNG</a>
            <a href="#">BLOG</a>
            <a href="#">CHI NHÁNH PHÚ QUỐC</a>
        </div>
    </div>
</header>
